{% extends "base_generic.html" %}

{% block content %}
    <table class="table">
        <tr>
            <th>Event Title</th>
            <th>Teacher</th>
            <th>About of Event</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>{{ event.name }}</td>
            <td>{{ event.teacher }}</td>
            <td>{{ event.about }}</td>
            <td>{{ event.date_of_start }}</td>
            <td>{{ event.date_of_end }}</td>
            <td><a href="{% url 'add-attendence' event.id %}">Join</a></td>
            {% if user == event.teacher.user %}
                <td><a href="{% url 'event-update' event.id %}">Update</a></td>
                <td><a href="{% url 'event-delete' event.id %}">Delete</a></td>
            {% endif %}
        </tr>
    </table>
{% endblock %}
